
__pycache__/
*.py[cod]
*.pyo
*.pyd


venv/
.env/
*.env


.vscode/
.idea/
.DS_Store
Thumbs.db

*.log
*.sqlite3
*.db
*.bak
*.tmp


*.egg-info/
*.egg
dist/
build/


backup/
temp/
tmp/

# --- local / temporales ---
Hotel 2/
Hotel2/blueprints/fin_invoices.zip
Hotel2/blueprints/hrm.zip
Hotel2/static/uploads/invoices/
*.pdf
*.zip

Hotel 2/
